body {
  font-family: Gelion,sans-serif;
  color: #444;
  --bs-primary-rgb: 255, 07, 05;
}

.bg-gray {
  background-color: #fbfbfb;
}

.bg-gray-2 {
  background-color: #777;
}

.text-gray {
  color: #444;
}

.text-light-gray {
  color: #777;
}


.text-light-blue {
  color: #007dba;
}

.text-red {
  color: rgb(var(--bs-primary-rgb));
}

.text-bg-dark-red {
  background-color: #bc0000;
}

.text-dark-red {
  color: #bc0000;
}

.input-group {
  background-color: white;
  border-radius: 2rem;
}

.form-control {
  border: 0;
  background-color: none;
  border-radius: 2rem;
  padding: 0.75rem;
  font-size: small;
  color: #aaa;
}

.input-group .input-group-text {
  margin: auto;
  border: 0;
  font-size: large;
  color: rgb(var(--bs-primary-rgb));
  background-color: transparent;
}

.btn {
  border: 0;
}

.dropdown button.show .icon-down {
  transform: rotate(-90deg);
}

.ft-link {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 58px;
}

.dropdown-item {
  font-size: 0.7rem;
  display: flex;
  column-gap: 0.5rem;
}

#breadcrumb-nav {
  font-size: small;
}

#breadcrumb-nav::before {
  content: "";
  background: url(https://oechsle.vteximg.com.br/arquivos/img_before-flecha.png) no-repeat;
  width: 14px;
  height: 12px;
  background-size: contain;
  margin-right: 8px;
  margin-top: 4px;
}

#breadcrumb-nav .breadcrumb-item.active {
  color: red;
  font-weight: bold;
}

.btn-red {
  background-color: rgb(var(--bs-primary-rgb));
  color: white;
  font-size: small;
}

.btn-red:hover {
  color: white;
  background-color: #ff4545;
}

.btn-red:active {
  background-color: #bc0000 !important;
  color: white !important;
}

.btn:disabled {
  background-color: #999;
}

a {
 text-decoration: none !important;
 color: inherit; 
}